@charset "utf-8";
/*****************商品介绍****************/
.goods .goodsinfo {
	border-radius: 8px 8px 0 0;
	background-color: #fff;
	width: 1010px;
	float: left;
}
.goods .goodsimg {
	padding: 15px 0 0 10px;
	float: left;
}
.goods .goodsimg .bigimg {
	width: 461px;
	height: 461px;
	border: 1px solid rgb(204, 204, 204);
}
.goods .goodsimg .bigimg img {
	display: block;
	margin: 5% 0 0 5%;
	width: 90%;
	height: 90%;
}
.goods .goodsimg .bigimg,
.goods .goodsimg .bigimg img,
.smallimgs {
	display: none;
}
.goods .goodsimg .bigimg:first-child,
.goods .goodsimg .bigimg:first-child img:first-child,
.smallimgs:first-of-type {
	display: block;
}
.smallimgs {
	padding: 37px 0 30px 0;
	margin-left: 40px;
}
.smallimgs li{
	float: left;
	width: 69px;
	height: 69px;
	margin-right: 10px;
	border: 1px solid rgb(204, 204, 204);
}
.smallimgs li:hover {
	cursor: pointer;
	border: 1px solid rgb(255, 153, 51);
}
.smallimgs li img{
	display: block;
	margin: 10% 0 0 10%;
	width: 80%;
	height: 80%;
}
.goods .goodsintroduction {
	float: right;
	box-sizing: border-box;
	width: 520px;
	padding: 26px 32px 0 10px;
}
.goods .goodsintroduction .title {
	font-size: 16px;
	color: #333;
	line-height: 44px;
	width: 520px;
}
.goods .goodsintroduction .smalltitle {
	font-size: 12px;
	color: #aaa;
	line-height: 20px;
	width: 478px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.goods .left>div {
	float: left;
	margin: 10px 0;
}
.goods .left .tips {
	width: 35px;
	font-size: 14px;
	color: #333;
	line-height: 30px;
	margin-right: 20px;
}
.goods .nowprice .price {
	font-size: 18px;
	line-height: 24px;
	color: #ff2e2e;
	font-weight: bold;
}
.goods .nowprice .price:before {
	content: "商城价：￥";
	font-size: 14px;
}
.goods .beforeprice .price{
	margin-top:-10px;
	color: #aaa;
	text-decoration: line-through;
}
.goods .beforeprice .price:before {
	content: "市场价：￥";
	font-size: 14px;
}
.goods .colors .color {
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background-clip: content-box;
	padding: 4px;
	margin-right: 20px;
	border: 1px solid rgb(238, 238, 238);
}
.goods .colors .color:hover {
	cursor: pointer;
	border: 1px solid rgb(200, 200, 200);
}
.goods .colors .color1 {
	background-color: rgb(240, 240, 240);
}
.goods .colors .color3 {
	background-color: rgb(182, 166, 166);
}
.goods .colors .color4 {
	background-color: rgb(63, 63, 63);
}
.active5 {
	border: 1px solid rgb(200, 200, 200) !important;
}
.goods .versions {
	border-bottom: 1px solid rgb(204, 204, 204);
}
.goods .versions .versioncontent {
	width: 400px;
}
.goods .versions .version {
	display: inline-block;
	margin: 0 10px 12px 0;
	text-align: center;
	padding: 0 10px;
	height: 28px;
	color: #a1a1a1;
	font-size: 12px;
	line-height: 28px;
	border-radius: 8px;
	box-shadow: 0 0 2px #a1a1a1;
}
.goods .versions .version:hover {
	cursor: pointer;
}
.goods .number {
	color: #aaa;
}
.goods .number .cut,
.goods .number .add {
	margin-top: 15px;
	text-align: center;
	width: 20px;
	height: 20px;
	font-size: 16px;
	line-height: 18px;
	border-radius: 50%;
	box-shadow: 0 0 1px 1px #789;
}
.goods .number .cut:hover,
.goods .number .add:hover {
	cursor: pointer;
	box-shadow: 0 0 2px 1px #555;
} 
.goods .number .cut {
	margin-right: 30px;
}
.goods .number .add {
	margin-left: 30px;
}
.goods .number .num {
	font-size: 12px;
	line-height: 30px;
}
.goods .address select,
.goods .express select {
	margin-top: -2px;
	height: 34px;
	padding: 0 4px;
	font-size: 14px;
	color: #a1a1a1;
	border-radius: 8px;
	border: 1px solid #a1a1a1;
}
.goods .address select {
	margin-right: 60px;
}
.goods .service .company {
	font-size: 14px;
	color: #2069c8;
	line-height: 30px;
}
.goods .service .company:before {
	content: "由";
	color: #2b2b2b;
	margin-right: 10px;
}
.goods .service .company:after {
	content: "发货并提供售后服务";
	color: #2b2b2b;
	margin-left: 10px;
}
.goods .btn {
	padding: 20px 0 0 40px;
}
.goods .btn>div {
	float: left;
	width: 150px;
	height: 46px;
	font-size: 18px;
	line-height: 46px;
	border-radius: 8px;
	text-align: center;
}
.goods .btn .collection {
	color: #ffc66e;
	margin-right: 60px;
	border: 1px solid #ffc66e;
}
.goods .btn .pay {
	color: #fff;
	background-color: #ffc66e;
	border: 1px solid #ffc66e;
}
.goods .btn .pay:hover,
.goods .btn .collection:hover {
	cursor: pointer;
}
.goods .btn .collection:hover {
	color: rgb(252, 135, 18);
	border: 1px solid rgb(252, 135, 18);
}
.goods .btn .pay:hover {
	background-color: rgb(252, 135, 18);
}
.goods .other {
	float: right;
	width: 238px;
	margin-right: 20px;
	background-color: #fff;
	border-radius: 8px 8px 0 0;
}
.goods .other .title {
	font-size: 14px;
	line-height: 40px;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.goods .other .title p{
	float: left;
	color: #333;
	margin-left: 17px;
}
.goods .other .title div{
	float: right;
	color: #333;
	margin-right: 17px;
}
.goods .other .title div:hover {
	cursor: pointer;
	color: #fe3c3c;
}
.goodscontent {
	box-sizing: border-box;
	padding: 0 6px;
	border-radius: 8px 8px 0 0;
}
.goods .other .box .goodscontent:last-child {
	display: none;
}
.goodscontent li {
	width: 226px;
	padding: 32px 0 10px 0;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.goodscontent li:last-child {
	border: none;
}
/*******************商品详情区域********************/
.more {
	padding: 20px 0 24px 0;
}
/************************推荐************************/
.more .recommend {
	float: left;
	width: 238px;
	background-color: #fff;
	border-radius: 8px 8px 0 0;
} 
.more .recommend .title {
	font-size: 16px;
	color: #333;
	line-height: 50px;
	padding-left: 20px;
	border-bottom: 1px solid rgb(204, 204, 204);
}
/**********************介绍*************************/
.more .introduction {
	float: right;
	width: 1010px;
	margin-right: 20px;
	border-radius: 8px 8px 0 0;
	background-color: #fff;
}
.more .introduction .title {
	width: 1010px;
	line-height: 58px;
	margin-left: -20px;
	border-radius: 8px 8px 0 0;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.more .introduction .title>div.type{
	float: left;
	padding: 0 26px;
	font-size: 16px;
	color: #797979;
}
.more .introduction .title>div.type:first-child {
	border-radius: 8px 0 0 0;
}
.more .introduction .title>div.type:hover {
	background-color: rgb(255, 198, 110);
	color: #fff;
	cursor: pointer;
}
.more .introduction .info {
	position: relative;
	padding: 0 20px;
}
.more .introduction .info p,
.more .introduction .info ul,
.more .introduction .info a {
	float: left;
	font-size: 12px;
	line-height: 40px;
	color: #333;
}
.more .introduction .info p {
	width: 100%;
}
.more .introduction .info ul .no:before {
	content: "货号：";
}
.more .introduction .info ul .size:before {
	content: "尺寸体积：";
}
.more .introduction .info ul .wireless:before {
	content: "无线位置：";
}
.more .introduction .info ul .internet:before {
	content: "网络制式：";
}
.more .introduction .info ul .style:before {
	content: "外观样式/手机类型：";
}
.more .introduction .info ul .mms:before {
	content: "彩信/彩e:";
}
.more .introduction .info ul .network:before {
	content: "支持频率/网络频率：";
}
.more .introduction .info ul .ram:before {
	content: "内存容量：";
}
.more .introduction .info ul .level:before {
	content: "价格等级：";
}
.more .introduction .info ul {
	width: 33.3%;
	padding-bottom: 20px;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.more .introduction .info ul li{
	padding-right: 20px;
}
.more .introduction .info a {
	position: absolute;
	top: 120px;
	right: 12px;
	width: 70px;
	color: blue;
}
.more .introduction {
	box-sizing: border-box;
	padding: 0 20px;
}
.more .introduction .list {
	border-bottom: 1px solid rgb(204, 204, 204);
}
.more .introduction .list:last-child {
	border-bottom: none;
}
.more .introduction .list1 {
	text-align: center;
	font-size: 36px;
	padding: 40px 0 50px 0 ;
}
.more .introduction .list1 span {
	font-weight: bold;
}
.more .introduction .list1 img {
	display: block;
	margin: 0 auto;
}
.more .introduction .list4,
.more .introduction .list3,
.more .introduction .list2 {
	padding: 50px 0 50px 0;
}
.more .introduction .list4 img,
.more .introduction .list2 img {
	width: 300px;
	height: 600px;
	margin: 0 100px 0 50px;
}
.more .introduction .list h2 {
	font-size: 46px;
	font-weight: normal;
	margin-top: 90px;
}
.more .introduction .list p {
	width: 475px;
	font-size: 24px;
	line-height: 40px;
	margin-top: 30px;
}
.more .introduction .list4 img,
.more .introduction .list4 h2,
.more .introduction .list4 p,
.more .introduction .list2 h2,
.more .introduction .list2 p,
.more .introduction .list2 img{
	float: left;
}
.more .introduction .list3 h2,
.more .introduction .list3 p,
.more .introduction .list3 img {
	float: right;
}
.more .introduction .list3 img {
	margin: 0 50px 0 70px;
}
.more .introduction .list3 h2 {
	margin-right: 266px;
}
.more .introduction .list3 p {
	width: 570px;
}
.more .comment,
.more .selectpage,
.more .evaluation,
.more .refund,
.more .aftermarket,
.more .protection {
	box-sizing: border-box;
	width: 1010px;
	float: right;
	margin-right: 20px;
}
.more .aftermarket {
	font-size: 16px;
	line-height: 50px;
	color: #7f7f7f;
	padding-left: 20px;
	background-color: rgb(221, 221 ,221);
}
/**********************售后保障**********************/
.more .protection {
	padding: 50px 30px;
	background-color: #fff;
}
.more .protection li {
	padding-bottom: 30px;
}
.more .protection li img,
.more .protection li span {
	float: left;
	text-indent: 16px;
}
.more .protection li span {
	margin: 12px 0;
	font-size: 14px;
	width: 900px;
	color: red;
}
.more .protection li p {
	font-size: 12px;
	color: #aaa;
	line-height: 20px;
	padding-left: 62px;
}
/***********************退款**********************/
.more .refund {
	padding: 20px 0;
	background-color: #fff;
}
.more .refund li {
	font-size: 12px;
	color: rgb(102, 102, 102);
	margin: 20px 0;
	line-height: 30px;
	padding-left: 30px;
}
/***********************好评度***********************/
.more .evaluation {
	background-color: #fff;
}
.more .evaluation .title {
	padding: 30px 0;
}
.more .evaluation .title>div {
	float: left;
	border-right: 1px solid rgb(230, 230, 230);
}
.more .evaluation .title>div:last-child {
	border-right: none;
}
.more .evaluation .div1 {
	padding-right: 50px;
	width: 320px;
}
.more .evaluation .div1 ul {
	float: right;
	margin-right: -20px;
}
.more .evaluation .div1 li{
	margin: 5px 0;
}
.more .evaluation .div1 p {
	position: relative;
	float: left;
	font-size: 12px;
	color: #333;
	padding: 0;
	margin: 10px 0 0 20px;
}
.more .evaluation .div1 p span {
	position: absolute;
	top: 15px;
	font-size: 30px;
	color: red;
}
.more .evaluation .div1 p span:after {
	content: "%";
	font-size: 24px;
}
.more .evaluation .div1 li span {
	float: left;
	font-size: 12px;
	color: #999;
	text-align: center;
	width: 100px;
	margin-right: 10px;	
}
.more .evaluation .div1 li span.good:before {
	content: "好评（";
}
.more .evaluation .div1 li span:after {
	content: "）";
}
.more .evaluation .div1 li span.normal:before {
	content: "中评（";
}
.more .evaluation .div1 li span.bad:before {
	content: "差评（";
}
.more .evaluation .div1 .progress {
	float: left;
	position: relative;
	width: 110px;
	height: 6px;
	margin-top: 4px;
	border: 1px solid #333;
}
.more .evaluation .div1 .progress>div {
	position: absolute;
	left: 0;
	top: 0;
}
/*.more .evaluation .div1 div.good {
	width: 99%;
	background-color: #ccc;
}
.more .evaluation .div1 div.normal {
	width: 1%;
	background-color: #ccc;
}
.more .evaluation .div1 div.bad {
	width: 0;
	background-color: rgb(255, 154, 255);
}*/
.more .evaluation .div2 {
	width: 250px;
	font-size: 14px;
	line-height: 22px;
	color: #333;
	padding: 0 40px;
}
.more .evaluation .div3 {
	width: 290px;
}
.more .evaluation .div3 p,
.more .evaluation .div3 div {
	width: 156px;
	font-size: 12px;
	margin: 0 auto;
}
.more .evaluation .div3 p {
	margin-top: 10px;
	color: #333;
}
.more .evaluation .div3 div {
	color: #fff;
	margin-top: 10px;
	text-align: center;
	line-height: 26px;
	background-color: rgb(255, 147, 129);
	border-radius: 0 0 8px 8px;
}
.more .evaluation .div3 div:hover {
	cursor: pointer;
	background-color: #fe3c3c;
}
/*******************选择页数*******************/
.more .selectpage {
	padding: 4px 0;
	margin-top: 5px;
}
.more .selectpage .go {
	background-color: rgb(255, 147, 129);
}
.more .selectpage .go:hover {
	background-color: #fe3c3c;
}
.more .selectpage ul li,
.more .selectpage ul {
	float: left;
}
/*******************所有评价********************/
.more .selectpage ul {
	padding-left: 20px;
}
.more .selectpage ul li {
	font-size: 13px;
	margin-right: 35px;
	line-height: 30px;
	color: #999;
}
.more .selectpage ul li:after {
	content: "）";
}
.more .selectpage ul li:hover {
	cursor: pointer;
	color: #fe3c3c;
}
.more .selectpage ul .all {
	color: rgb(255, 147, 129);
}
.more .selectpage ul .all:before {
	content: "全部评价（";
}
.more .selectpage ul .good:before {
	content: "好评（";
}
.more .selectpage ul .normal:before {
	content: "中评（";
}
.more .selectpage ul .bad:before {
	content: "差评（";
}
.more .selectpage .next,
.more .selectpage .prev {
	width: 16px;
	height: 16px;
	margin-top: 7px !important;
	border-radius: 50%;
	background-color: rgb(176, 176, 176);
}

/********************评论区********************/
.more .comment {
	background-color: #fff;
	padding: 0 26px 0 20px;
}
.more .comment>li {
	padding: 20px 0 26px;
	border-bottom: 1px solid rgb(204, 204, 204);
}
.more .comment>li:last-child {
	border: none;
}
.more .comment .avatar,
.more .comment .avatar img,
.more .comment .avatar span,
.more .comment .commentinfo {
	float: left;
}
.more .comment .avatar img {
	width: 26px;
	height: 26px;
	margin-right: 8px;
}
.more .comment .avatar span {
	width: 70px;
	font-size: 12px;
	color: #333;
	line-height: 26px;
	padding-right: 20px;
}
.more .comment .commentinfo {
	width: 830px;
	font-size: 12px;
	color: #333;
	line-height: 18px;
}
.more .comment .commentinfo .smallimgs {
	margin: 10px 0;
	padding: 0;
}
.more .comment .commentinfo .smallimgs li {
	width: 57px;
	height: 56px;
}
.more .comment .commentinfo .type div {
	float: left;
	margin-right: 30px;
	color: #999;
}
.more .comment .commentinfo .type .like,
.more .comment .commentinfo .type .message {
	float: right;
	text-align: right;
	width: 60px;
	margin-right: 8px;
}
.more .comment .commentinfo .type .like:after,
.more .comment .commentinfo .type .message:after {
	content: "）";
}
.more .comment .commentinfo .type .like:before,
.more .comment .commentinfo .type .message:before {
	content: "（";
}
.more .comment .commentinfo .type .like {
	background: url(../img/zan.png) 12px 2px no-repeat;
}
.more .comment .commentinfo .type .message {
	background: url(../img/pinglun.png) 12px 3px no-repeat;
}
.more .comment .avatar span:hover,
.more .comment .commentinfo .type .like:hover,
.more .comment .commentinfo .type .message:hover {
	color: rgb(255, 153, 51);
	cursor: pointer;
}
